
/*Media Query bei 840*/

*{
  margin: 0;
  padding: 0;
  border: 0;
}
html,body{
  height: 100%;
  width: 100%;
}
button{
  border: none;
  background-color: transparent;
}

body {
  font-family: 'Times New Roman', Times, serif;
}

@media (min-width:840px) {
  #coolerBttn{
    display: none;
  }
  #auswahl{
    position: sticky;
    top: 0;
    z-index: 1;
    height: 5%;
    width: 100%;
    background-color: #d7cae6;
  }
  .kat{
    position: relative;
    float: left;
    margin-left: 2%;
    width: 7%;
    height: 100%;
    line-height: 300%;
    cursor: pointer;
  }
  .kat > div{
    height: 100%;
  }
  
  #auswahl > div:hover{
    background-color: #947fce;
  }
  .link{
    visibility: collapse;
    width: 100%;
  }
  .link > a{
    color: #551A8B;
    background-color: white;
    text-decoration: none;
    float: left;
    width: 100%;
    height: fit-content;
    text-align: center;
  }
  .link > a:hover{
    background-color: #ddd3fa;
  }  
  .kategorien{
    height: 0;
    visibility: collapse;
  }
}
#homebutton{
  text-decoration: none;
  color: black;
}


@media (max-width:840px){
  #coolerBttn{
    cursor: pointer;
    position: absolute;
    right: 5%;
    width: fit-content;
    height: fit-content;
    background-color: #d7cae6;
  }
  #auswahl{
    position: sticky;
    top: 0;
    z-index: 1;
    height: fit-content;
    width: 100%;
    background-color: #d7cae6;
  }
  .kat,.kat > div{
   display: none;
  }
  .kategorien{
    display: none;
    height: 100%;
    width: 100%;
    background-color: #d7cae6;
  }
  .auswahl{
    height: 10%;
  }
  .unter{
    width: 100%;
  }
  .unter > a {
    text-decoration: none;
    color: #551A8B;
    float: left;
    width: 100%;
    background-color: #d7cae6;
  }
  .unter > a:hover{
    background-color: #ddd3fa;
  }
  .ueber{
    font-family: 'Times New Roman', Times, serif;
    z-index: 1;
    cursor: pointer;
    height:33%;
    width: 100%;
  }
  .reihe{
    cursor: pointer;
    display: flex;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
  }
  .button{
    cursor: pointer;
    position: absolute;
    width: fit-content;
    right: 0;
  }
  .name{
    width: fit-content;
  }

}


.container {
  position: relative;
  display: grid;
  width: 100%;
}

.header-container {
  position: sticky;
  top: 2%;
  display: flex;
  z-index: -2;  
}

.title-box {
  position: absolute;
  color: white;
  overflow: hidden;
  width: 100%;
}

#title {
  margin-top: 5%;
  animation: 1.5s slide-down cubic-bezier(0.075, 0.82, 0.165, 1) ;
  font-size: 8em;
  text-align: center;
  position: center;
  width: 100%;
  z-index: 1;

}

@keyframes slide-down {
  from {
    margin-top: -30%;
    height: 300%;
  }

  to {
    margin-top: 5%;
    height: 100%;
  }
}

@keyframes slide-down-image {
  0% {
    transform: translateY(-70%);
  }
  50% {
    transform: translateY(0);
  }
}

#hero {
  animation: 3s slide-down-image cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 100%;
  height: 40vh;
  object-fit: cover;
  z-index: -2;
}

#bild1 {
  object-fit: scale-down;
  width: 100%;
  height: auto;
  
}

.text-container {
  display: grid;
  grid-template-columns:15% auto 15%;
  grid-template-rows: 100%;
  height: 100%;
  width: 100%;
}

.subgrid-1 {
  grid-column: 1 ;
  grid-row: 1;
  background-color: #ffffff;
}

.text-box {
  background-color: #ddd3fa;
  border-radius: 20px;
  padding:10px;
  margin-top: 50px;
  margin-left: 30px;
}

.subgrid-2 {
  padding: 50px;
  grid-column: 2 ;
  grid-row: 1;
  background-color: #ffffff;
}

.subgrid-2 h1 {
  text-align:center;
}

.subgrid-2 p,
.subgrid-2 ul {
  font-size: 1.5em;
  margin-bottom:2em;
}

.subgrid-2 p {
  font-size: 1.5em;
  margin-bottom:2em;
}

.subgrid-2 p,
.subgrid-2 ul,
.subgrid-2 li {
  margin-bottom:1em;
}

.subgrid-3 {
  grid-column: 3 ;
  grid-row: 1;
  background-color: #ffffff;
}


.footer-container {
  position: relative;
  bottom:0;
  width: calc(100% - 100px); /* Breite abzüglich der gewünschten linken und rechten Margins */
  height: 20vh;
  background-color: #d7cae6;
  margin-left: 50px; /* Linker Margin */
  margin-right: 50px; /* Rechter Margin */
  margin-bottom: 0;
  padding: 10px;
  text-align: center;
}

