*{
  margin: 0;
  padding: 0;
  border: 0;
}
html,body{
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Times New Roman', Times, serif;
}

#auswahl{
  position: sticky;
  top: 0;
  z-index: 1;
  height: 5%;
  width: 100%;
  background-color: black;
}
.kat{
  position: relative;
  float: left;
  background-color: red;
  width: 7%;
  height: 100%;
  text-align: center;
  line-height: 300%;
  cursor: pointer;
}
.kat > div{
  height: 100%;
}
#auswahl > div:hover{
  background-color: green;
}
.link{
  visibility: collapse;
  width: 100%;
}
.link > a{
  background-color: white;
  float: left;
  width: 100%;
  height: fit-content;
  text-align: center;
}
.link > a:hover{
  background-color: black;
}

.container {
  position: absolute;
  top: 5%;
  display: grid;
  height:100%;
  width:100%;
}

  .header-container {
  position: absolute; /* Positionierung relativ zum übergeordneten Container */
  color: white; /* Farbe des Texts */
  overflow:hidden;
  }


#mid {
  text-align: center;
  position: center;
  animation: 1.5s slide-down;
  font-size: 8em;
}

#left {
  animation: 1.5s slide-down cubic-bezier(0.075, 0.82, 0.165, 1);
  margin-top:20%;
  font-size: 8em;
  text-align: left;
  position:left;
  width:100%;
}

#right {
  text-align: center;
  float:right;
  width: 50%;
}

@keyframes slide-down {
  from {
    margin-top: -100%;
    height: 300%; 
  }

  to {
    margin-top: 20%;
    height: 100%;
  }
}

img {
    width: 100%;
    height: 75%; 
}
